@model Football.Team

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання команди до ліги @ViewBag.LeagueName</h1>


<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamCity" class="control-label"></label>
                <input asp-for="TeamCity" class="form-control" />
                <span asp-validation-for="TeamCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StadiumName" class="control-label"></label>
                <input asp-for="StadiumName" class="form-control" />
                <span asp-validation-for="StadiumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamLogo" class="control-label"></label>
                <input asp-for="TeamLogo" class="form-control" />
                <span asp-validation-for="TeamLogo" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.LeagueId" name="LeagueId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
